hadesworkshop_icon ICON "icon.ico"

hadesworkshop_splash RCDATA "Resource\\HadesSplashHighRes.png"

moveup_icon ICON "Icon\\moveup.ico"
movedown_icon ICON "Icon\\movedown.ico"
moveup_disicon ICON "Icon\\moveupdisabled.ico"
movedown_disicon ICON "Icon\\movedowndisabled.ico"

worldmap_image BITMAP "Resource\\WorldMap.bmp"
buttoncircle_image BITMAP "Resource\\ButtonCircle.bmp"
buttoncross_image BITMAP "Resource\\ButtonCross.bmp"
buttontriangle_image BITMAP "Resource\\ButtonTriangle.bmp"
buttonsquare_image BITMAP "Resource\\ButtonSquare.bmp"
buttonl1_image BITMAP "Resource\\ButtonL1.bmp"
buttonr1_image BITMAP "Resource\\ButtonR1.bmp"
buttonl2_image BITMAP "Resource\\ButtonL2.bmp"
buttonr2_image BITMAP "Resource\\ButtonR2.bmp"
buttonstart_image BITMAP "Resource\\ButtonStart.bmp"
buttonselect_image BITMAP "Resource\\ButtonSelect.bmp"
buttonup_image BITMAP "Resource\\ButtonUp.bmp"
buttondown_image BITMAP "Resource\\ButtonDown.bmp"
buttonleft_image BITMAP "Resource\\ButtonLeft.bmp"
buttonright_image BITMAP "Resource\\ButtonRight.bmp"
buttonpad_image BITMAP "Resource\\ButtonPad.bmp"
indicatornew_image BITMAP "Resource\\IndicatorNew.bmp"
moghand_image BITMAP "Resource\\MogHand.bmp"

textcaretpurple_image BITMAP "Resource\\TextCaretPurple.bmp"
textcaretred_image BITMAP "Resource\\TextCaretRed.bmp"
bulletright_image BITMAP "Resource\\bulletarrowright.bmp"
bulletdown_image BITMAP "Resource\\bulletarrowdown.bmp"
findglass_image BITMAP "Resource\\findglass.bmp"

animcontrolloopplay_image BITMAP "Resource\\PlayControllerButtonLoopPlay.bmp"
animcontrollooppause_image BITMAP "Resource\\PlayControllerButtonLoopPause.bmp"
animcontrolnoloopplay_image BITMAP "Resource\\PlayControllerButtonNoLoopPlay.bmp"
animcontrolnolooppause_image BITMAP "Resource\\PlayControllerButtonNoLoopPause.bmp"
